<!-- layout apenas para tela de Login -->
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Matheus Suffi">

    <title>Admin de VPNs</title>




    <!-- Carregamento de Js -->
    <script src="{{=URL(a='admin_vpn', c='static', f='bower_components')}}/jquery/dist/jquery.min.js"></script>
    <script src="{{=URL(a='admin_vpn', c='static', f='bower_components')}}/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{=URL(a='admin_vpn', c='static', f='bower_components')}}/metisMenu/dist/metisMenu.min.js"></script>
    <script src="{{=URL(a='admin_vpn', c='static', f='dist')}}/js/sb-admin-2.js"></script>

    <!-- Carregamento de CSS -->
    <link href="{{=URL(a='admin_vpn', c='static', f='bower_components')}}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{=URL(a='admin_vpn', c='static', f='bower_components')}}/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="{{=URL(a='admin_vpn', c='static', f='dist')}}/css/sb-admin-2.css" rel="stylesheet">
    <link href="{{=URL(a='admin_vpn', c='static', f='bower_components')}}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container">
        {{include}} 
    </div>

</body></html>
